/* CSS Variables */
:root {
  --primary: #DEFFFF;
  --dark: #333;
  --light: #FFA500;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Body and HTML */
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: var(--primary);
  margin: 0x;
  line-height: 1.4;
}

header {
  padding: 25px;
  text-align: center;
  background: var(--light);
  color: white;
  box-shadow: var(--shadow);
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: var(--dark);
  position: sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Main Content */
.main-content {
  border-width: 2px;
  border-style: solid;
  border-color: var(--dark);
  color: var(--dark) !important;
  margin: 5px;
  padding: 250px;
  text-align: center;
  background: white;
  color: white;
  box-shadow: var(--shadow);
}
