/* CSS Variables */
:root {
  --primary: #D3D3D3;
  --dark: #333;
  --light: #FFA500;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

* {
  box-sizing: border-box;
}

/* Wrapper */
.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 960px;

  padding-right: 10px;
  padding-left: 10px;
}

/* Body and HTML */
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: var(--primary);
  margin: 0;
  line-height: 1.4;
}

header {
  padding: 25px;
  text-align: left;
  background: white;
  box-shadow: var(--shadow);
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: var(--dark);
  position: sticky;
  top: 0;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Main Content */
.main-content {
  padding: 5px;
  text-align: left;
  background-color: white;
}

.post {
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
}

footer {
  background-color: var(--dark);
  text-align: center;
  color: white;
}
